<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.LecturesMapper">
    
    <resultMap type="Lectures" id="LecturesResult">
        <result property="id"    column="id"    />
        <result property="time"    column="time"    />
        <result property="endDate"    column="end_date"    />
        <result property="name"    column="name"    />
        <result property="speaker"    column="speaker"    />
        <result property="location"    column="location"    />
        <result property="geo"    column="geo"    />
        <result property="cover"    column="cover"    />
        <result property="coverId"    column="cover_id"    />
        <result property="detail"    column="detail"    />
        <result property="registrationFee"    column="registration_fee"    />
        <result property="deposit"    column="deposit"    />
        <result property="requiresEnrollment" column="requires_enrollment" />
        <result property="enrolledCount" column="enrolled_count" />
        <result property="createDate"    column="create_date"    />
        <result property="updateDate"    column="update_date"    />
    </resultMap>

    <sql id="selectLecturesVo">
        select id, time, end_date, name, speaker, location, geo, cover, cover_id, detail, registration_fee,
               deposit, requires_enrollment, enrolled_count, create_date, update_date
        from lectures
    </sql>

    <select id="selectLecturesList" parameterType="Lectures" resultMap="LecturesResult">
        <include refid="selectLecturesVo"/>
        <where>  
            <if test="time != null "> and time = #{time}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="speaker != null  and speaker != ''"> and speaker = #{speaker}</if>
            <if test="location != null  and location != ''"> and location = #{location}</if>
            <if test="geo != null  and geo != ''"> and geo = #{geo}</if>
            <if test="detail != null  and detail != ''"> and detail = #{detail}</if>
            <if test="createDate != null "> and create_date = #{createDate}</if>
            <if test="updateDate != null "> and update_date = #{updateDate}</if>
        </where>
    </select>
    
    <select id="selectLecturesById" parameterType="Long" resultMap="LecturesResult">
        <include refid="selectLecturesVo"/>
        where id = #{id}
    </select>

    <select id="selectLecturesTemplateList" resultMap="LecturesResult">
        SELECT
            l.id, l.time, l.end_date, l.name, l.speaker,
            l.location, l.geo, l.cover, l.cover_id, l.detail, l.registration_fee,
            l.deposit, l.requires_enrollment, l.enrolled_count, l.create_date, l.update_date
        FROM lectures l
        INNER JOIN (
            SELECT name, MAX(id) AS id
            FROM lectures
            WHERE name IS NOT NULL AND name != ''
            GROUP BY name
        ) latest ON latest.id = l.id
        ORDER BY l.id DESC
    </select>

    <insert id="insertLectures" parameterType="Lectures" useGeneratedKeys="true" keyProperty="id">
        insert into lectures
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="time != null">time,</if>
            <if test="endDate != null">end_date,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="speaker != null">speaker,</if>
            <if test="location != null">location,</if>
            <if test="geo != null">geo,</if>
            <if test="cover != null">cover,</if>
            <if test="coverId != null">cover_id,</if>
            <if test="detail != null">detail,</if>
            <if test="registrationFee != null">registration_fee,</if>
            <if test="deposit != null">deposit,</if>
            <if test="requiresEnrollment != null">requires_enrollment,</if>
            <if test="enrolledCount != null">enrolled_count,</if>
            <if test="createDate != null">create_date,</if>
            <if test="updateDate != null">update_date,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="time != null">#{time},</if>
            <if test="endDate != null">#{endDate},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="speaker != null">#{speaker},</if>
            <if test="location != null">#{location},</if>
            <if test="geo != null">#{geo},</if>
            <if test="cover != null">#{cover},</if>
            <if test="coverId != null">#{coverId},</if>
            <if test="detail != null">#{detail},</if>
            <if test="registrationFee != null">#{registrationFee},</if>
            <if test="deposit != null">#{deposit},</if>
            <if test="requiresEnrollment != null">#{requiresEnrollment},</if>
            <if test="enrolledCount != null">#{enrolledCount},</if>
            <if test="createDate != null">#{createDate},</if>
            <if test="updateDate != null">#{updateDate},</if>
         </trim>
    </insert>

    <update id="updateLectures" parameterType="Lectures">
        update lectures
        <trim prefix="SET" suffixOverrides=",">
            <if test="time != null">time = #{time},</if>
            <if test="endDate != null">end_date = #{endDate},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="speaker != null">speaker = #{speaker},</if>
            <if test="location != null">location = #{location},</if>
            <if test="geo != null">geo = #{geo},</if>
            <if test="cover != null">cover = #{cover},</if>
            <if test="coverId != null">cover_id = #{coverId},</if>
            <if test="detail != null">detail = #{detail},</if>
            <if test="registrationFee != null">registration_fee = #{registrationFee},</if>
            <if test="deposit != null">deposit = #{deposit},</if>
            <if test="requiresEnrollment != null">requires_enrollment = #{requiresEnrollment},</if>
            <if test="enrolledCount != null">enrolled_count = #{enrolledCount},</if>
            <if test="createDate != null">create_date = #{createDate},</if>
            <if test="updateDate != null">update_date = #{updateDate},</if>
        </trim>
        where id = #{id}
    </update>

    <update id="increaseEnrolledCount" parameterType="Long">
        update lectures
        set enrolled_count = COALESCE(enrolled_count, 0) + 1
        where id = #{id}
    </update>

    <delete id="deleteLecturesById" parameterType="Long">
        delete from lectures where id = #{id}
    </delete>

    <delete id="deleteLecturesByIds" parameterType="String">
        delete from lectures where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!-- VO ResultMap：列表（含拼接讲师姓名） -->
    <resultMap type="com.ruoyi.system.domain.vo.LecturesListVo" id="LecturesListVoResult">
        <result property="id"           column="id"           />
        <result property="time"         column="time"         />
        <result property="endDate"      column="end_date"     />
        <result property="name"         column="name"         />
        <result property="speaker"      column="speaker"      />
        <result property="location"     column="location"     />
        <result property="geo"          column="geo"          />
        <result property="cover"        column="cover"        />
        <result property="coverId"      column="cover_id"     />
        <result property="detail"       column="detail"       />
        <result property="registrationFee" column="registration_fee"/>
        <result property="deposit"      column="deposit"      />
        <result property="requiresEnrollment" column="requires_enrollment"/>
        <result property="enrolledCount" column="enrolled_count"/>
        <result property="createDate"   column="create_date"  />
        <result property="updateDate"   column="update_date"  />
        <result property="speakerNames" column="speaker_names"/>
    </resultMap>

    <!-- VO ResultMap：详情（含讲师列表） -->
    <resultMap type="com.ruoyi.system.domain.vo.LecturesDetailVo" id="LecturesDetailVoResult">
        <result property="id"         column="id"         />
        <result property="time"       column="time"       />
        <result property="endDate"    column="end_date"   />
        <result property="name"       column="name"       />
        <result property="speaker"    column="speaker"    />
        <result property="location"   column="location"   />
        <result property="geo"        column="geo"        />
        <result property="cover"      column="cover"      />
        <result property="coverId"    column="cover_id"   />
        <result property="detail"     column="detail"     />
        <result property="registrationFee" column="registration_fee"/>
        <result property="deposit"    column="deposit"    />
        <result property="requiresEnrollment" column="requires_enrollment"/>
        <result property="enrolledCount" column="enrolled_count"/>
        <result property="createDate" column="create_date"/>
        <result property="updateDate" column="update_date"/>
        <collection property="speakers" ofType="com.ruoyi.system.domain.vo.SpeakerVo">
            <result property="id"        column="sp_id"        />
            <result property="name"      column="sp_name"      />
            <result property="avatarUrl" column="sp_avatar_url"/>
        </collection>
    </resultMap>

    <!-- 查询讲座列表 VO：LEFT JOIN lecturer_profile，用 GROUP_CONCAT 拼接讲师姓名 -->
    <select id="selectLecturesListVo" parameterType="Lectures" resultMap="LecturesListVoResult">
        SELECT
        l.id, l.time, l.end_date, l.name, l.speaker,
        l.location, l.geo, l.cover, l.cover_id, l.detail, l.registration_fee, l.deposit,
        l.requires_enrollment, l.enrolled_count, l.create_date, l.update_date,
        GROUP_CONCAT(p.name ORDER BY FIND_IN_SET(p.id, l.speaker) SEPARATOR ', ') AS speaker_names
        FROM lectures l
        LEFT JOIN lecturer_profile p ON FIND_IN_SET(p.id, l.speaker)
        <where>
            <if test="time != null "> and l.time = #{time}</if>
            <if test="name != null and name != ''"> and l.name like concat('%', #{name}, '%')</if>
            <if test="location != null and location != ''"> and l.location = #{location}</if>
        </where>
        GROUP BY l.id
    </select>

    <!-- 查询讲座详情 VO：LEFT JOIN lecturer_profile 获取每位讲师详细信息 -->
    <select id="selectLecturesDetailVoById" parameterType="Long" resultMap="LecturesDetailVoResult">
        SELECT
            l.id, l.time, l.end_date, l.name, l.speaker,
            l.location, l.geo, l.cover, l.cover_id, l.detail, l.registration_fee, l.deposit,
            l.requires_enrollment, l.enrolled_count, l.create_date, l.update_date,
            p.id        AS sp_id,
            p.name      AS sp_name,
            p.avatar_url AS sp_avatar_url
        FROM lectures l
        LEFT JOIN lecturer_profile p ON FIND_IN_SET(p.id, l.speaker)
        WHERE l.id = #{id}
    </select>
</mapper>
