<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.LectureMaterialMapper">
    
    <resultMap type="LectureMaterial" id="LectureMaterialResult">
        <result property="id"    column="id"    />
        <result property="lectureId"    column="lecture_id"    />
        <result property="url"    column="url"    />
        <result property="status"    column="status"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="isDeleted"    column="is_deleted"    />
    </resultMap>

    <sql id="selectLectureMaterialVo">
        select id, lecture_id, url, status, create_time, update_time, is_deleted from lecture_material
    </sql>

    <select id="selectLectureMaterialList" parameterType="LectureMaterial" resultMap="LectureMaterialResult">
        <include refid="selectLectureMaterialVo"/>
        <where>  
            <if test="lectureId != null "> and lecture_id = #{lectureId}</if>
            <if test="url != null  and url != ''"> and url = #{url}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="isDeleted != null "> and is_deleted = #{isDeleted}</if>
        </where>
    </select>
    
    <select id="selectLectureMaterialById" parameterType="Long" resultMap="LectureMaterialResult">
        <include refid="selectLectureMaterialVo"/>
        where id = #{id}
    </select>

    <insert id="insertLectureMaterial" parameterType="LectureMaterial">
        insert into lecture_material
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="lectureId != null">lecture_id,</if>
            <if test="url != null and url != ''">url,</if>
            <if test="status != null">status,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="isDeleted != null">is_deleted,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="lectureId != null">#{lectureId},</if>
            <if test="url != null and url != ''">#{url},</if>
            <if test="status != null">#{status},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="isDeleted != null">#{isDeleted},</if>
         </trim>
    </insert>

    <update id="updateLectureMaterial" parameterType="LectureMaterial">
        update lecture_material
        <trim prefix="SET" suffixOverrides=",">
            <if test="lectureId != null">lecture_id = #{lectureId},</if>
            <if test="url != null and url != ''">url = #{url},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="isDeleted != null">is_deleted = #{isDeleted},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteLectureMaterialById" parameterType="Long">
        delete from lecture_material where id = #{id}
    </delete>

    <delete id="deleteLectureMaterialByIds" parameterType="String">
        delete from lecture_material where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>