<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.StudentEnrollmentMapper">
    
    <resultMap type="StudentEnrollment" id="StudentEnrollmentResult">
        <result property="id"    column="id"    />
        <result property="uid"    column="uid"    />
        <result property="lectureId"    column="lecture_id"    />
        <result property="total"    column="total"    />
        <result property="remain"    column="remain"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="isDeleted"    column="is_deleted"    />
    </resultMap>

    <sql id="selectStudentEnrollmentVo">
        select id, uid, lecture_id, total, remain, create_time, update_time, is_deleted from student_enrollment
    </sql>

    <select id="selectStudentEnrollmentList" parameterType="StudentEnrollment" resultMap="StudentEnrollmentResult">
        <include refid="selectStudentEnrollmentVo"/>
        <where>  
            <if test="uid != null "> and uid = #{uid}</if>
            <if test="lectureId != null "> and lecture_id = #{lectureId}</if>
            <if test="total != null "> and total = #{total}</if>
            <if test="remain != null "> and remain = #{remain}</if>
            <if test="isDeleted != null "> and is_deleted = #{isDeleted}</if>
        </where>
    </select>
    
    <select id="selectStudentEnrollmentById" parameterType="Long" resultMap="StudentEnrollmentResult">
        <include refid="selectStudentEnrollmentVo"/>
        where id = #{id}
    </select>

    <insert id="insertStudentEnrollment" parameterType="StudentEnrollment">
        insert into student_enrollment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="uid != null">uid,</if>
            <if test="lectureId != null">lecture_id,</if>
            <if test="total != null">total,</if>
            <if test="remain != null">remain,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="isDeleted != null">is_deleted,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="uid != null">#{uid},</if>
            <if test="lectureId != null">#{lectureId},</if>
            <if test="total != null">#{total},</if>
            <if test="remain != null">#{remain},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="isDeleted != null">#{isDeleted},</if>
         </trim>
    </insert>

    <update id="updateStudentEnrollment" parameterType="StudentEnrollment">
        update student_enrollment
        <trim prefix="SET" suffixOverrides=",">
            <if test="uid != null">uid = #{uid},</if>
            <if test="lectureId != null">lecture_id = #{lectureId},</if>
            <if test="total != null">total = #{total},</if>
            <if test="remain != null">remain = #{remain},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="isDeleted != null">is_deleted = #{isDeleted},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteStudentEnrollmentById" parameterType="Long">
        delete from student_enrollment where id = #{id}
    </delete>

    <delete id="deleteStudentEnrollmentByIds" parameterType="String">
        delete from student_enrollment where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <resultMap type="com.ruoyi.system.domain.vo.EnrollmentWithLectureVo" id="EnrollmentWithLectureResult">
        <result property="id"          column="id"           />
        <result property="lectureId"   column="lecture_id"   />
        <result property="lectureName" column="lecture_name" />
        <result property="total"       column="total"        />
        <result property="remain"      column="remain"       />
    </resultMap>

    <select id="selectEnrollmentWithLectureByUid" parameterType="Long" resultMap="EnrollmentWithLectureResult">
        select
            l.name  as lecture_name,
            se.id,
            se.lecture_id,
            se.total,
            se.remain
        from student_enrollment se
        left join lectures l on l.id = se.lecture_id
        where se.uid = #{uid}
          and se.is_deleted = 0
    </select>

    <select id="selectStudentEnrollmentByUidAndLectureId" resultMap="StudentEnrollmentResult">
        <include refid="selectStudentEnrollmentVo"/>
        where uid = #{uid}
          and lecture_id = #{lectureId}
          and is_deleted = 0
    </select>

    <select id="selectEnrollmentByUidAndLectureId" resultMap="StudentEnrollmentResult">
        <include refid="selectStudentEnrollmentVo"/>
        where uid = #{uid}
          and lecture_id = #{lectureId}
          and is_deleted = 0
        FOR UPDATE
    </select>
</mapper>
