<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.TutorsMapper">

    <resultMap type="Tutors" id="TutorsResult">
        <result property="id" column="id" />
        <result property="uid" column="uid" />
        <result property="identity" column="identity" />
        <result property="certificates" column="certificates" />
        <result property="subjects" column="subjects" />
        <result property="areas" column="areas" />
        <result property="methods" column="methods" />
        <result property="status" column="status" />
        <result property="experience" column="experience" />
        <result property="major" column="major" />
        <result property="school" column="school" />
        <result property="degree" column="degree" />
        <result property="currentGrade" column="current_grade" />
        <result property="createDate" column="create_date" />
        <result property="updateDate" column="update_date" />
        <result property="realName" column="real_name" />
        <result property="phone" column="phone" />
        <result property="idCard" column="id_card" />
        <result property="selfJudge" column="self_judge" />
        <result property="certificateList" column="certificate_list" />
        <result property="city" column="city" />
    </resultMap>

    <sql id="selectTutorsVo">
        select t.id,
               t.uid,
               t.identity,
               t.certificates,
               t.subjects,
               t.areas,
               t.methods,
               t.status,
               t.experience,
               t.major,
               t.school,
               t.degree,
               t.current_grade,
               t.create_date,
               t.update_date,
               ui.real_name,
               ui.phone,
               ui.id_card,
               t.self_judge,
               t.certificate_list,
               t.city
        from tutors t
        left join user_info ui on ui.user_id = t.uid
    </sql>

    <select id="selectTutorsList" parameterType="Tutors" resultMap="TutorsResult">
        <include refid="selectTutorsVo"/>
        <where>
            <if test="uid != null and uid != ''"> and t.uid = #{uid}</if>
            <if test="identity != null"> and t.identity = #{identity}</if>
            <if test="certificates != null and certificates != ''"> and t.certificates = #{certificates}</if>
            <if test="subjects != null and subjects != ''"> and t.subjects like concat('%', #{subjects}, '%')</if>
            <if test="areas != null and areas != ''"> and t.areas like concat('%', #{areas}, '%')</if>
            <if test="methods != null"> and t.methods = #{methods}</if>
            <if test="status != null"> and t.status = #{status}</if>
            <if test="experience != null and experience != ''"> and t.experience = #{experience}</if>
            <if test="major != null and major != ''"> and t.major like concat('%', #{major}, '%')</if>
            <if test="school != null and school != ''"> and t.school like concat('%', #{school}, '%')</if>
            <if test="degree != null"> and t.degree = #{degree}</if>
            <if test="createDate != null"> and t.create_date = #{createDate}</if>
            <if test="updateDate != null"> and t.update_date = #{updateDate}</if>
            <if test="realName != null and realName != ''"> and ui.real_name like concat('%', #{realName}, '%')</if>
            <if test="phone != null and phone != ''"> and ui.phone like concat('%', #{phone}, '%')</if>
            <if test="idCard != null and idCard != ''"> and ui.id_card = #{idCard}</if>
            <if test="selfJudge != null and selfJudge != ''"> and t.self_judge = #{selfJudge}</if>
            <if test="certificateList != null and certificateList != ''"> and t.certificate_list like concat('%', #{certificateList}, '%')</if>
            <if test="city != null and city != ''"> and t.city like concat('%', #{city}, '%')</if>
        </where>
    </select>

    <select id="selectTutorsById" parameterType="Long" resultMap="TutorsResult">
        <include refid="selectTutorsVo"/>
        where t.id = #{id}
    </select>

    <insert id="insertTutors" parameterType="Tutors" useGeneratedKeys="true" keyProperty="id">
        insert into tutors
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="uid != null and uid != ''">uid,</if>
            <if test="identity != null">identity,</if>
            <if test="certificates != null and certificates != ''">certificates,</if>
            <if test="subjects != null and subjects != ''">subjects,</if>
            <if test="areas != null and areas != ''">areas,</if>
            <if test="methods != null">methods,</if>
            <if test="status != null">status,</if>
            <if test="experience != null">experience,</if>
            <if test="major != null and major != ''">major,</if>
            <if test="school != null and school != ''">school,</if>
            <if test="degree != null">degree,</if>
            <if test="currentGrade != null and currentGrade != ''">current_grade,</if>
            <if test="createDate != null">create_date,</if>
            <if test="updateDate != null">update_date,</if>
            <if test="selfJudge != null">self_judge,</if>
            <if test="certificateList != null">certificate_list,</if>
            <if test="city != null and city != ''">city,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="uid != null and uid != ''">#{uid},</if>
            <if test="identity != null">#{identity},</if>
            <if test="certificates != null and certificates != ''">#{certificates},</if>
            <if test="subjects != null and subjects != ''">#{subjects},</if>
            <if test="areas != null and areas != ''">#{areas},</if>
            <if test="methods != null">#{methods},</if>
            <if test="status != null">#{status},</if>
            <if test="experience != null">#{experience},</if>
            <if test="major != null and major != ''">#{major},</if>
            <if test="school != null and school != ''">#{school},</if>
            <if test="degree != null">#{degree},</if>
            <if test="currentGrade != null and currentGrade != ''">#{currentGrade},</if>
            <if test="createDate != null">#{createDate},</if>
            <if test="updateDate != null">#{updateDate},</if>
            <if test="selfJudge != null">#{selfJudge},</if>
            <if test="certificateList != null">#{certificateList},</if>
            <if test="city != null and city != ''">#{city},</if>
        </trim>
    </insert>

    <update id="updateTutors" parameterType="Tutors">
        update tutors
        <trim prefix="SET" suffixOverrides=",">
            <if test="uid != null and uid != ''">uid = #{uid},</if>
            <if test="identity != null">identity = #{identity},</if>
            <if test="certificates != null">certificates = #{certificates},</if>
            <if test="subjects != null and subjects != ''">subjects = #{subjects},</if>
            <if test="areas != null and areas != ''">areas = #{areas},</if>
            <if test="methods != null">methods = #{methods},</if>
            <if test="status != null">status = #{status},</if>
            <if test="experience != null">experience = #{experience},</if>
            <if test="major != null and major != ''">major = #{major},</if>
            <if test="school != null and school != ''">school = #{school},</if>
            <if test="degree != null">degree = #{degree},</if>
            <if test="currentGrade != null">current_grade = #{currentGrade},</if>
            <if test="createDate != null">create_date = #{createDate},</if>
            <if test="updateDate != null">update_date = #{updateDate},</if>
            <if test="selfJudge != null">self_judge = #{selfJudge},</if>
            <if test="certificateList != null">certificate_list = #{certificateList},</if>
            <if test="city != null and city != ''">city = #{city},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTutorsById" parameterType="Long">
        delete from tutors where id = #{id}
    </delete>

    <delete id="deleteTutorsByIds" parameterType="String">
        delete from tutors where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectCertifiedTutorsList" parameterType="Tutors" resultMap="TutorsResult">
        <include refid="selectTutorsVo"/>
        <where>
            and t.status = 1
            <if test="subjects != null and subjects != ''"> and t.subjects like concat('%', #{subjects}, '%')</if>
            <if test="areas != null and areas != ''"> and t.areas like concat('%', #{areas}, '%')</if>
            <if test="methods != null"> and t.methods = #{methods}</if>
            <if test="degree != null"> and t.degree = #{degree}</if>
        </where>
    </select>

    <select id="selectTutorsByUid" parameterType="String" resultMap="TutorsResult">
        <include refid="selectTutorsVo"/>
        where t.uid = #{uid}
    </select>
</mapper>
